<system.webServer>
  <handlers>
    <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
  </handlers>
  <httpPlatform processPath="python" arguments="waitress-serve --port=5000 app:create_app" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\python.log" />
</system.webServer>
